# ========================
# Node / Frontend
# ========================
node_modules/
dist/
.env
*.log

# ========================
# Python / Backend
# ========================
venv/
__pycache__/
*.pyc
backend/.env
*.sqlite3
*.log
data

# ========================
# OS / Misc
# ========================
.DS_Store
Thumbs.db
