fastapi==0.141.1
uvicorn[standard]==0.24.0
python-multipart==0.0.32
openai==1.97.1
python-dotenv==1.0.0
geopandas==1.1.1
shapely==2.1.1
firebase-admin==7.1.0
requests==2.32.4
matplotlib==3.10.5
boto3==1.40.17
structlog==25.4.0
pydantic-settings==2.10.1
